.contact-form input[type="text"],
.contact-form input[type="email"],
.contact-form textarea
{
    background-color: #fff;
    color: #000;
    border-style: none;
    width: 100%;
    border: solid 3px #B8A982;
    box-shadow: 2px 2px 2px #b1b1b1;
    font-family: 'koho', serif;

    
}

.contact-form input[type="submit"] {
    background-color: #61978d;
    border-style: none;
    color: #fff;
    width: 101.5%;
    padding-top: 1vh;
    padding-bottom: 1vh;
    font-size: clamp(0.9rem, 2vw, 1.2rem);
    box-shadow: 2px 2px 2px #40665f;
    font-family: 'Jacques Francois', serif; 
    text-transform: uppercase;
}

.contact-form input[type="submit"]:hover {
    background-color: #40665f;
    cursor: pointer;
    
}

.contact-form{
    width: max(300px, 50vw);
    margin: auto;
    background-color: #f5f5f5;
    padding: 3% 6% 3% 6%;
    margin-bottom: 10%;
    border: solid 10px #B8A982;
    margin-top: 10%;

}