/*List accomondation/activities/news*/
.list-container {
    display: flex;
    position: relative;
    width: max(270px, 55vw);
    margin: auto;
    background-color: #f7f7f7;
    padding: 3%;
    border: solid 5px #B8A982;
    transition: all 0.7s;   
    height: min-content;
}

/* Hover function */
.list-container:hover {
    border: solid 10px #465C7B;
    cursor: pointer;
    transition: all 0.7s;

}

.list-link ul li, .list-link p{
    color: #000;
}

.list-text {
    position: relative;
    width: 50%;
    margin-left: 8%; 
}

/* UL-list settings */
.list-text ul {
    margin-top: -10px;
    margin-bottom: 5vh;
    height: fit-content;
    width: 100%;
    margin-left: -13%;    
}

.list-text ul li {
    list-style: none; 
    display: block; 
    text-align: center;
    line-height: 130%;
    font-size: clamp(0.7rem, 0.9vw, 1rem);   
}

.list-text h3 {
    color: #B8A982;
    font-size: clamp(0.8rem, 1.8vw, 1.35rem);
    text-transform: uppercase;
    text-align: center;
    font-family: 'Jacques Francois', serif;
    margin-left: -15%;
}

.list-image {
    width: 50%;
}

.list-image img {
    width: 100%;
    height: max-content;
}

/*Hide describing text from list*/
.hide-p-text p, .hide-p-text table {
    display: none;

}

.news-text-excerpt p {
   width: 85%;
   text-align: center;
   font-size: clamp(0.75rem, 1.4vw, 0.9rem);
}

/* Change column settings depending on screen size */
@media screen and (max-width: 700px) {
    .list-container {
        display: block;
        margin: auto;
        margin-bottom: 4%;    
    }
    .list-text, .list-image {
        width: 100%;
    }
    .list-text  {
        max-width: 47ch;
        text-align: center;
    }
    .list-text h3 {
        margin-left: -12%;
        font-size: clamp(1rem, 3vw, 1.6rem);
    }
    .list-text ul li {
        font-size: clamp(0.8rem, 2vw, 1.3rem);
    }  
}
   

