/* Header and menu settings */
header {
    width: 100%;
    position: fixed; top: 0;
    z-index: 999;    
    
}
header h1 {
    position: absolute; left: 50%;
    transform: translate(-50%, -50%);
    padding-top: 20px;
    padding-bottom: 8px;
    color: rgb(255, 255, 255);
    font-size: clamp(0.9rem, 2vw, 3rem);
    background-color: #61978d;
    text-shadow: 2px 2px 5px #000000;
}

/* Menu icon */
header span i {
  position: fixed; right: 3vw; top: 1.5vh;
  color: #fff;      
}
    @media screen and (min-width: 1300px) {
    header span i {
    position: fixed; right: 3vw; top: 2.7vh; }

    }

    @media screen and (max-width: 1300px) and (min-width: 900px) {
    header span i {
    position: fixed; right: 3vw; top: 2vh; }

    }

span i:hover {cursor: pointer;}

/* Menu*/
.overlay {
    height: 100%;
    width: 0;
    position: fixed; 
    z-index: 1; 
    right: 0;
    top: 0;
    background-color: #61978dce;
    overflow-x: hidden; 
    transition: 0.8s; 
  }
  
  /* Position the content inside the overlay */
  .overlay-content {
    position: relative;
    top: 25%; 
    width: 100%; 
    text-align: center; 
    margin-top: 30px; 
  }

  nav li {
    list-style: none;
    text-transform: uppercase;

  }
  
  /* The navigation links inside the overlay */
  .overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: clamp(0.9rem, 2vw, 1.6rem);
    color: #ffffff;
    display: block; 
    transition: 0.3s; 
    margin-left: -5%;
    transition: all 2s;
  }

  .overlay a:hover {
    text-decoration: underline;
    transition: all 2s;
  }

  /* Position the close button (top right corner) */
  .overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
  }
  
  @media screen and (max-height: 450px) {
    .overlay a {font-size: 20px}
    .overlay .closebtn {
      font-size: 40px;
      top: 15px;
      right: 35px;
    }
  }

  .menu-line {
    width: max(250px,40vw);
    margin: auto;
    background-color: rgba(255, 255, 255, 0.758);
    height: 2px;
  }

 

    
