/*General settings */
body {
    margin: 0;
    list-style: none;

    
}

.top-heading {
    margin-top: 15%;  
}

main {
    margin-bottom: 10%;
}

/*Headings*/
h1, h2, h3, h4 {
    text-align: center;
}

h1 {
    font-family: 'Jacques Francois', serif;
    text-transform: uppercase;
    font-weight: 200;
    width: 100%;
}

.beige-heading {
    color: #a38249;
    text-transform: uppercase;
    font-size: clamp(1.2rem, 4.5vw, 2.5rem);
    
    
}

/* Font settings */
h2, p, table, ul {
    font-family: 'KoHo', sans-serif;
    font-weight: 600;
}

/* Bread crumbs settings */
.breadcrumbs {
margin-top: 3.2%;
font-family: 'koho', serif;
padding-left: 30px;
padding-top: 7px;
padding-bottom: 7px;
list-style: none;
font-size: clamp(0.65rem, 2vw, 1rem);
background-color: #70a99e;
color: #fff;
}



/* Inside content on pages - display flex*/
.inside-content {
    display: flex;
    width: max(240px, 70vw);
    margin: auto;
    background-color: #eeeeee;
    padding: 2% 10% 3% 5%;
    margin: 5%;
    margin-bottom: 10%;
    margin-top: 15%;
    border: solid 1vw #B8A982;
    }

@media screen and (max-width: 700px) {
    .inside-content {
        display: block;
    }
    .inside-content-image img{
        min-width: 230px;
        height: auto;
        margin: auto;
        margin-bottom: -6%;
    }   
}

/* Inside content, text settings */
.inside-content-text p {
    max-width: 50ch;
    font-size: clamp(0.8rem, 2vw, 0.95rem);
}

.inside-content-text h2 {
    text-align: left;
}

.inside-content-text h3, .inside-content-text h4, .inside-content-text h5, .inside-content-text h6  {
    text-align: left;
    color: #a38249;
    text-transform: uppercase;
    font-size: clamp(0.7rem, 1.6vw, 1.2rem);
    margin-bottom: -3%;
}

.inside-content-image img {
    width: 30vw;
    height: auto;
    margin-top: 8%;
    margin-right: 30px;
}


/*General button settings*/
.button-general {
    text-align: center;
    width: 100%;
    margin: 0 auto;   
}

.button-general a {
    font-family: 'Jacques Francois', serif;    
    color: #fff;   
}

.button-general a:hover {
    cursor: pointer;
}


/*Large buttons settings*/
 .large-buttons {
    margin: auto;
    background-color: #1d3e38;
    width: max(280px, 45vw);
    border-style: none;
    margin-bottom: 4vh;
    margin-top: -10vh;
    margin-bottom: 8vh;
    padding-top: 15px;
    padding-bottom: 15px;
    font-size: clamp(0.9rem, 2vw, 1.3rem);
    text-transform: uppercase;
    box-shadow: 2px 2px 2px #193c36;
    text-align: center;
    transition: all 2s;
}

.large-buttons a {
    border-style: none;
    text-decoration: none;
    color: #fff;
    transition: all 2s;
}

.large-buttons:hover {
    cursor: pointer;
    background-color: #40665f;
    transition: all 2s;
} 

/* Front page puff */
.front-page-puff-container {
    background-color: rgb(245, 245, 245);
    border-radius: 15px;
    position: relative; top: -7vh;
    width: max(220px, 50vw);
    height: fit-content;
    margin: auto;
    padding: 4%;
    list-style: none;

}
.front-page-puff {
    border: dotted 0.7vw #814b83;
    padding: 4%;
    
}

.front-page-puff p, .front-page-puff h2 {
    color: #814b83;;
    text-align: center;    
}

.front-page-puff p {font-size: clamp(0.65rem, 1.7vw, 1rem);}
.front-page-puff h2 {
    font-size: clamp(0.75rem, 2vw, 1.3rem);
    font-family: 'Jacques Francois', serif;
    text-transform: uppercase;
    font-weight: 200;
    margin-top: 1vh;

}

/* Reviews on front page */
.review-container {
    list-style: none;
    width: 100%;
    text-align: center;
    padding-top: 5%;
    padding-bottom: 7%;
    
}



.review-display-box {
    margin: auto;
    margin-top: 5%;
    margin-bottom: 5%;
    background-color: #f5f5f5;   
}

.welcometext h2 {
    color: #a38249;
    font-size: clamp(1rem, 3vw, 1.8rem);  
}

.welcometext p {
    font-family: 'koho', serif;
    font-size: clamp(0.8rem, 2vw, 1.1rem);
    max-width: 45ch;
    margin: auto;

}

.review-display-box p {
    font-family: 'koho', serif;
    font-size: clamp(0.8rem, 2vw, 1.1rem);

}

.review-display-box p:any-link{
    color: #000000;
}

.glsr-review-rating {
    margin: auto;
}

.review-display-box h2 {
    font-size: clamp(1.1rem, 3vw, 2rem);
}

textarea{
    color: #000000;
}

footer form label{
    font-size: clamp(0.9rem, 2vw, 1.6rem);
    font-family: 'koho', serif;
}

footer button{
    font-size: clamp(0.7rem, 2vw, 0.9rem);
    font-family: 'Jacques Francois', serif;
    text-transform: uppercase;
    font-weight: 200;
    border-style: none;
    padding: 2% 5% 2% 5%;
    background-color: #000000;
    color: rgb(255, 255, 255);
    transition: all 2s;

}

footer button:hover {
    cursor: pointer;
    background-color: rgb(202, 144, 36);
    color: #000000;
    transition: all 2s;
}

.glsr-form select {
    display: none;
}

